.header__inner, .header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    margin-top: 20px;
}

.header-list li{
    margin-right: 80px;
    font-size: 18px;
    font-family: "SFUIDisplay";
    line-height: 1.2;
    color: #000;
}

.header-list li:last-child{
    margin-right: 0;
}

.header-btn button{
    font-size: 18px;
    font-family: "SFUIDisplay";
    line-height: 1.2;
    color: rgb(247, 247, 247);
    border-radius: 10px;
    background-color: rgb(222, 70, 4);
    padding: 10px 40px;
    border-color: transparent;
}

  
  
  
  